body {
  background-color: rgb(245, 245, 245);
}

.list-task {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 700px;
  background-color: rgb(248, 248, 248);
  border-radius: 9px;
}
.text {
  font-size: 5rem;
  font-weight: 200;
  color: rgb(232, 211, 212);
}
.list-task-item {
  color: grey;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(226, 226, 226); /* Línea divisoria entre elementos */
}
li {
  padding-left: 2rem;
}

input {
  color: grey;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
}

.input {
  width: 700px;
  font-size: 3rem;
  font-weight: 100;
  padding: 1.5rem;
  background-color: rgb(248, 248, 248);
  border-radius: 9px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  align-items: center;
  margin: 0 auto;
}

.footer {
  width: 700px;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 9px;
  background-color: rgb(248, 248, 248);
}

.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
